<template>
  <div class="container">
    <BreadCrumbs/>
    <div class="OrderingGoods">
      <ShoppingCart/>
      <MakingAnOrder />
      <ModalWindow/>
    </div>
    <ViewedGoods/>
</div>
</template>

<script>

import BreadCrumbs from "./components/BreadCrumbs.vue";
import ShoppingCart from "./components/ShoppingCart.vue"
import ViewedGoods from "./components/ViewedGoods.vue"
import MakingAnOrder from "./components/MakingAnOrder.vue";
import ModalWindow from "./components/ModalWindow.vue";
import { mapActions } from "vuex";





export default {
  name: 'App',
  beforeCreate() {
     this.$store.commit('initialiseStore')
  },
  components: {
    ShoppingCart,
    BreadCrumbs,
    ViewedGoods,
    MakingAnOrder,
    ModalWindow
},
methods: mapActions(['loadingInServer'])
}
</script>

<style scoped lang="scss">
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }

  .OrderingGoods{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media(max-width: 1439px){
              flex-flow: wrap;
              justify-content: center;
              widows: 100%;
          }
  }
  .container{
    margin: 20px 80px;
    @media(max-width: 768px){
              margin: 5px;
          }
  }
</style>
