<template>
  <div class="breadCrumbs">
    <div class="breadCrumbs_direction">
      <p class="breadCrumbs_direction_description">Главная</p>
      <img alt="Arrow" src="../assets/Arrow.svg"/>
      <p class="breadCrumbs_direction_description">Корзина</p>
    </div>
    <div class="breadCrumbs_nameDirection">
      <img alt="Cart" src="../assets/ant-design_shopping-cart-outlined.svg"/>
      <div class="breadCrumbs_nameDirection_description">
        <p>Ваша корзина</p>
        <p>{{ $store.state.products.reduce((acc, item) => acc + item.counter, 0 )}} 
        {{ $store.state.products.reduce((acc, item) => acc + item.counter, 0 ) > 4 ? 'товаров' : 'товара'}}
        </p>
        <p>{{ $store.state.products.reduce((acc, item) => acc + (item.cost * item.counter), 0 )}} ₽</p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "BreadCrumbs",
  props: {
   
  },
  data() {
    return {

    }
  }
}
</script>


<style scoped lang="scss"> 
  .breadCrumbs{
    display: flex;
    justify-content: space-between;
    align-items: center;
      .breadCrumbs_direction{
      display: flex;
      :first-child{
        color: #33374E;
      }
        p{
          color: red($color: #000000);
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #797B86;
          margin-left: 10px;
          margin-right: 10px;
        }
    }
    .breadCrumbs_nameDirection{
    display: flex;
    margin-right: 10px;
    img{
      margin-right: 12px;
    }
    .breadCrumbs_nameDirection_description{
      margin-left: 10px;
      margin-right: 10px;
      :nth-child(2){
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 145%;
        color: #797B86;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      :nth-child(3){
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 145%;
        color: #1F2432;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      :nth-child(1){
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #1F2432;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
    
}

  
</style>
