<script setup>

    
</script>

<template>
    <div class="DetailedProduct_wrapper">
        <div v-for="item in getAllProducts" :key="item.title" class="DetailedProduct">
            <img class="DetailedProduct_image" alt="picture" :src="item.img"/>
            <div class="DetailedProduct_description">
                <h4>Вытяжное устройство {{ item.title }}</h4>
                <p>{{ item.description }}</p>
                <small>{{ item.articul }}</small>
            </div>
            <div class="DetailedProduct_switcher">
                <div class="DetailedProduct_switcher_btns">
                    <p @click="decrement(item)">-</p>
                    <p>{{ item.counter }}</p>
                    <p  @click="increment(item)">+</p>
                </div>
                <small v-show="item.counter > 1">12 644 ₽/шт. </small>
            </div>
            <div class="DetailedProduct_cost">
                <p>{{ item.cost * item.counter}} ₽ </p>
            </div>
            <div class="DetailedProduct_escape">
                <img @click="deleteProduct(item)"  alt="escape" src="../assets/TheCross.svg"/>
            </div>
        </div>
        {{  this.$store.state.products.length < 1 ? "Добавьте товар в корзину" : ''}}
    </div>
  </template>
  
<script>
  import { mapGetters } from 'vuex';

  export default {
    methods:{
        increment(item) {
            this.$store.commit('increment', item)
        },
        decrement(item) {
            this.$store.commit('decrement', item)
            item.counter < 0 ? item.counter = 0 : item.counter
        },
        deleteProduct(item) {
            this.$store.commit('deleteProduct', item);
        }
    },
    name: "DetailedProduct",
    computed: mapGetters(['getAllProducts'])
  }
</script>
  
  
  <style scoped lang="scss"> 

  .DetailedProduct_wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #797B86;
  }
   .DetailedProduct{
    display: flex;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 50px;
    padding-bottom: 20px;
    position: relative;
    @media(max-width: 768px){
            display: block;
            padding-bottom: 0;
        }
    .DetailedProduct_image{
        height: 100px;
        margin-right: 31px;
        margin-bottom: 37px;
        @media(max-width: 768px){
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 85px;
        }
    }
    .DetailedProduct_description{
        margin-right: 79px;
        width: 278px;
        @media(max-width: 1248px){
            margin-right: 0;
        }
        h4{
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 145%;
            color: #1F2432;
            @media(max-width: 768px){
                display: flex;
                justify-content: center;
            }
        }
        p{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #2C3242;
            @media(max-width: 768px){
                display: flex;
                justify-content: center;
                text-align: center;
            }

        }
        small{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #797B86;
            @media(max-width: 768px){
            display: flex;
            justify-content: center;
            }

        }
    }
    .DetailedProduct_switcher{
            
            small{ 
                display: flex;
                align-items: center;
                margin-left: 20px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 145%;
                text-align: center;
                color: #1F2432;
                @media(max-width: 768px){
                    display: flex;
                    justify-content: center;
                    margin-left: 0;
                }
            }
            .DetailedProduct_switcher_btns{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 84px;
                user-select: none;
                @media(max-width: 768px){
                 margin-right: 0;
                }
                p{
                margin-right: 2px;
                border: 1px solid #33374E;
                border-radius: 4px;
                background: #F6F8FA;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                text-align: center;
                color: #1F2432;
                padding: 6px 12px;

            }
            }
            
        }
        .DetailedProduct_cost{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 35px;
            @media(max-width: 768px){
                    margin-right: 19px;
                }
            p{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 145%;
                text-align: right;
                color: #1F2432;
                min-width: 73px;
            }
        }
        .DetailedProduct_escape{
            display: flex;
            justify-content: center;
            align-items: baseline;
            height: 100%;
            @media(max-width: 768px){
                position: absolute;
                top: 0;
                right: 0;
            }
        }
   }
  </style>
  