<script setup>
 
</script>


    
    <template>
      <Transition name="modal">
        <div v-if="$store.state.booleanModal" class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
                <div class="modal_image">
                    <img alt="picture" :src="$store.state.modalItem.img"/>
                </div>
                <div class="modal_text">
                    <h1>{{ $store.state.modalItem.title }}</h1>
                    <p>{{ $store.state.modalItem.description }}</p>
                    <small>{{ $store.state.modalItem.articul }}</small>
                </div>
                <div class="modal_costs">
                    <p>{{ $store.state.modalItem.priceRange }}</p>
                    <small>{{ $store.state.modalItem.costEuro }}</small>
                </div>
                <button
                    class="modal-default-button"
                    @click="$emit('close')"
                  >Закрыть</button>
                  <button
                    class="modal-default-button"
                    @click="addProduct()"
                  >Добавить</button>
            </div>
          </div>
        </div>
      </Transition>
    </template>



<script>

    export default {
      props: {
        
      },
      methods:{
        addProduct() {
          this.$store.commit('addProducts');
        },
        
      }
      
        
      
    }
    </script>
    
<style scoped lang="scss">
   
  .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: table;
      transition: opacity 0.3s ease;
  }
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  

  .modal_image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    @media(max-width: 768px){
            margin: 5px;
            width: auto;
        }
  }
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  } 
  .modal-body {
    margin: 20px 0;
  } 
  .modal-default-button {
    float: right;
    padding: 10px 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    text-align: center;
    color: #FFFFFF;
    background: none;
    border: none;
    background: #0069B4;
    margin-right: 10px;
    border-radius: 4px;
  }
  .modal-enter-from {
    opacity: 0;
  } 
  .modal-leave-to {
    opacity: 0;
  }
  
  .modal-enter-from .modal-container,
  .modal-leave-to .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
    h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120.52%;
    color: #1F2432;
    }
    p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: #1F2432;
    height: 50px;
    }
  .modal_text{
    margin-bottom: 80px;
            
    }
  
    small{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #797B86;
    margin-top: 20px;
    }

    button{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    text-align: center;
    color: #FFFFFF;
    background-color: none;
    background: none;
    border: none;
    }
</style>