<template>
    <div class="MakingAnOrder">
        <h3>Итого</h3>
        <div class="MakingAnOrder_orderAmount">
            <p>
                Сумма заказа
            </p>
            <span>
                {{ getAllProducts.reduce((acc, item) => acc + (item.cost * item.counter), 0 )}} ₽
            </span>
        </div>
        <div class="MakingAnOrder_quantity">
            <p>
                Количество
            </p>
            <span>
                {{ getAllProducts.reduce((acc, item) => acc + item.counter, 0 )}} шт
            </span>
        </div>
        <div class="MakingAnOrder_installation">
            <p>
                Установка
            </p>
            <span>
                {{ $store.state.install ? 'Да' : "Нет" }}
            </span>
        </div>
        <div class="MakingAnOrder_costOfGoods">
            <p>
                Стоимость товаров
            </p>
            <span>
                {{ getAllProducts.reduce((acc, item) => acc + (item.cost * item.counter), 0 )}} ₽
            </span>
        </div>
        <div class="MakingAnOrder_buttons">
            <button @click="loadingInServer" class="MakingAnOrder_btn1" type="submit">Оформить заказ</button>
            <button @click="loadingInServer" class="MakingAnOrder_btn2" type="submit">Купить в 1 клик</button>
        </div>
    </div>
  </template>
  
  <script>

  import { mapGetters } from 'vuex';
  
  export default {
    name: "MakingAnOrder",
    computed: mapGetters(['getAllProducts']),
    data(){
        return {
            
        }
    },
    props: {
     
    },
    methods: {
        loadingInServer() {
            alert('Данные успешно отправлены')
            this.$store.dispatch('loadingInServer')
        } 
    }
  }
  </script>
  
  
  <style scoped lang="scss"> 
    .MakingAnOrder{
        margin-left: 55px;
        background: #F6F8FA;
        border-radius: 5px;
        padding: 35px 30px;
        width: 387px;
        @media(max-width: 1439px){
            margin-top: 20px;
            margin-left: 0;
        }
        h3{
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 120.52%;
            color: #1F2432;
            margin-top: 0;
        }
        .MakingAnOrder_orderAmount{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 145%;
                color: #1F2432;
            }
            span{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                text-align: right;
                color: #1F2432;
            }
        }
        .MakingAnOrder_quantity{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 145%;
                color: #1F2432;
            }
            span{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                text-align: right;
                color: #1F2432;
            }
        }
        .MakingAnOrder_installation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #AEB0B6;
            margin-bottom: 10px;
            p{
                font-family: 'Lato', sans-serif;
            
                font-weight: 500;
                font-size: 16px;
                line-height: 145%;
                color: #1F2432;
            }
            span{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                text-align: right;
                color: #1F2432;
            }
        }
        .MakingAnOrder_costOfGoods{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            p{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 145%;
                color: #1F2432;

            }
            span{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 130%;
                text-align: right;
                letter-spacing: 0.005em;
                color: #1F2432;
            }
        }
        .MakingAnOrder_buttons{
            display: grid;
            .MakingAnOrder_btn1{
                background: #0069B4;
                border-radius: 4px;
                margin-bottom: 12px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 145%;
                color: #FFFFFF;
                padding: 14px;
                border: 1px solid #0069B4;
                border-radius: 4px;
            }
            .MakingAnOrder_btn2{
                background: #FFFFFF;;
                border-radius: 4px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 145%;
                color: #0069B4;
                padding: 14px;
                border: 1px solid #0069B4;
                border-radius: 4px;
            }
        }
    }
  </style>
  