<script setup>
  
</script>

<script>

  import ItemModal from './ItemModal.vue';
    
  export default {
    components: {
      ItemModal
    },
    data() {
      return {
        showModal: this.$store.state.modalItem
      }
    }
  }
</script>
    
  <template>
    <Teleport to="body">
      <ItemModal v-show="$store.state.modalItem !== null"  @close="$store.state.booleanModal = false">
        <template #header>
          <h3>custom header</h3>
        </template>
      </ItemModal>
    </Teleport>
  </template>
  
<style scoped>
    
</style>