<template>
    <div class="shoppingCart">  
        <div class="shoppingCart_header">
            <div class="shoppingCart_header_description">
                <h1>Ваша корзина</h1>
                <span>
                    {{ getAllProducts.reduce((acc, item) => acc + item.counter, 0 )}}
                    {{ getAllProducts.reduce((acc, item) => acc + item.counter, 0 ) > 4 ? 'товаров' : 'товара'}}
                </span>
            </div>
            <div class="shoppingCart_header_btn">
                <button @click="clearBasket">Очистить корзину</button>
            </div>
        </div> 
        
            <div class="shoppingCart_details">
                  <DetailedProduct/>
                </div>
        
            <div class="shoppingCart_consultation">
                <div class="shoppingCart_consultation_image">
                    <input @click="checkboxCheck" type="checkbox"/>
                    <p>
                        <img src="../assets/Unknown-5.svg"/>
                    </p>
                </div>    
                <div class="shoppingCart_consultation_text">
                    <h4>Установка</h4>
                    <p>Отметьте, если Вам необходима консультация профессионала по монтажу выбранных товаров.</p>
                </div>    
            </div>
    </div>
  </template>
  
  <script>
    import DetailedProduct from '@/components/DetailedProduct.vue';
    import { mapGetters } from 'vuex';

    export default {
        name: "ShoppingCart",
        computed: mapGetters(['getAllProducts']),
        methods: {
            clearBasket() {
                this.$store.commit('clearBasket')
            },
            checkboxCheck() {
                this.$store.commit('checkboxWatch')
            }
        },
        components: { DetailedProduct }
    }
  </script>
  
  <style scoped lang="scss">
    .shoppingCart{
        width: 800px;
        .shoppingCart_details{
            min-height: 570px;
            position: relative;
        }
        .shoppingCart_header{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            @media(max-width: 1248px){
              justify-content: space-around;
            }
            @media(max-width: 768px){
              display: grid;
            }
            .shoppingCart_header_description{
                display: flex;
                align-items: baseline;
                @media(max-width: 768px){
                    display: grid;
                }
                h1{
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 44px;
                    line-height: 120.52%;
                    color: #1F2432;
                }
                span{
                    margin-left: 22px;
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 145%;
                    color: #797B86;
                    @media(max-width: 768px){
                        display: flex;
                        justify-content: center;
                        margin-bottom: 20px;
                        margin-left: 0;
                    }
                }
            }
            .shoppingCart_header_btn{
                @media(max-width: 768px){
                        display: flex;
                        justify-content: center;
                    }
                button{
                    background: none;
                    border: none;
                    text-align: right;
                    text-decoration-line: underline;
                    color: #797B86;
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    text-align: right;
                    color: #797B86;
                }
                
            }
        }
        .shoppingCart_consultation{
            display: flex;
            width: 800px;
            background: #F6F8FA;
            border-radius: 5px;
            margin-top: 44px;
            @media(max-width: 1248px){
              width: auto;
            }
            .shoppingCart_consultation_image{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 20px;
                    margin-left: 25px;
                    margin-right: 20px;
                }
                p{
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-right: 20px;
                    background: #FFFFFF;
                    img{
                        padding: 10px;
                    }
                }
            }

        }
    }
    
    

  </style>
  