<template>
  <div class="ViewedGoods_wrapper">
    <div class="ViewedGoods">
        <div class="ViewedGoods_header">
            <h2>Просмотренные товары</h2>
            <div class="ViewedGoods_swiper">            
                <img class="prevSlide" @click="decrement" src="../assets/Group21.jpg" />          
                <p>{{ count }} / <small>6</small></p>                  
                <img class="nextSlide" @click="increment"  src="../assets/Group20.jpg" /> 
            </div>
        </div>
        <div class="ViewedGoods_details">
          <swiper
          :modules="modules"
          :slides-per-view="1"
          :space-between="50"
          @swiper="onSwiper"
          @slideChange="onSlideChange"
          :navigation="{nextEl: '.nextSlide', prevEl: '.prevSlide'}"
          >
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
            <swiper-slide class="swiper_slide">
              <div v-for="(item) in getAllViewedProducts" :key="item.title" class="ViewedProduct">
                  <div class="ViewedProduct_wrapper">
                      <div class="ViewedProduct_image">
                          <img alt="picture" :src="item.img"/>
                      </div>
                      <div class="ViewedProduct_text">
                          <h1>{{ item.title }}</h1>
                          <p>{{ item.description }}</p>
                      </div>
                      <div class="ViewedProduct_costs">
                          <p>{{ item.priceRange }}</p>
                          <small>{{ item.costEuro }}</small>
                      </div>
                      <div class="ViewedProduct_btn">
                          <button type="submit" @click="showModal(item)">Подробнее</button>
                      </div>
                  </div>  
              </div>
            </swiper-slide>
          </swiper>
        </div>
    </div>
    
  </div> 

</template>
  
<script>

  import { mapGetters } from 'vuex';
  import SwiperCore, {
  Navigation
} from 'swiper/core';

  import { Swiper, SwiperSlide } from 'swiper/vue';
  
  import 'swiper/css/navigation';
  import 'swiper/css'; 

  SwiperCore.use([Navigation]);

  export default {
    name: "ViewedGoods",
    data() {
      return {
        count: 1
      }
    },
    computed: mapGetters(['getAllViewedProducts']),
    props: {
     
    },
    components: {
        Swiper,
        SwiperSlide,
    },
    methods: {
       showModal(item) {
        this.$store.state.modalItem = item
        this.$store.state.booleanModal = ! this.$store.state.booleanModal
       },
       increment() {
        this.count == 6 ? this.count = 6 : this.count++
       },
       decrement() {
        this.count == 1 ? this.count = 1 : this.count--
       }
    },
    setup() {
     
      const onSwiper = () => {
       
      };
      const onSlideChange = () => {
        
      };
      return {
        onSwiper,
        onSlideChange,
        modules: [Navigation]
      };
    },
  };
    


</script>
  
  
<style scoped lang="scss"> 
   .ViewedGoods{
    .ViewedGoods_details{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .swiper_slide{
        width: 1248px;
        display: flex;
        margin-right: 50px;
        justify-content: center;
        @media(max-width: 1439px){
            flex-flow: wrap;
        }
        .ViewedProduct{
            background: #F6F8FA;
            border-radius: 5px;
            padding: 25px;
            width: 305px;
            height: 563px;
            margin-left: 20px;
            @media(max-width: 1439px){
            margin-bottom: 20px;
            margin-left: 0;
            margin-right: 20px;
            @media(max-width: 750px){
            margin-right: 0;
        }
        }
            .ViewedProduct_image{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .ViewedProduct_text{
                margin-bottom: 80px;
                h1{
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 120.52%;
                    color: #1F2432;
                }
                p{
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 145%;
                    color: #1F2432;
                    height: 50px;
                }
            }
            .ViewedProduct_costs{
                margin-bottom: 20px;
                p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 130%;
                    letter-spacing: 0.005em;
                    color: #1F2432;
                    margin-bottom: 3px;
                }
                small{
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 145%;
                    color: #797B86;
                }
            }
            .ViewedProduct_btn{
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0069B4;
                border-radius: 4px;
                widows: 255px;
                height: 52px;
                button{
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 145%;
                    text-align: center;
                    color: #FFFFFF;
                    background-color: none;
                    background: none;

                    border: none;
                }
            }
        }
    }
      :first-child{
        margin-left: 0;
      }
    }
        .ViewedGoods_header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 96px;
            margin-bottom: 60px;
            flex-flow: wrap;
            @media(max-width: 550px){
              justify-content: center;
            }
            h2{
              font-family: 'Lato', sans-serif;
              font-weight: 600;
              font-size: 30px;
              line-height: 120.52%;
              color: #1F2432;
            }
            .ViewedGoods_swiper{
              display: flex;
              align-items: center;
              justify-content: center;
              p{
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 150%;
                color: #212121;
                margin: 0 20px;
                small{
                  font-family: 'Lato', sans-serif;
                  font-style: normal;
                  font-size: 18px;
                  line-height: 27px;
                }
                
              }
            }
        }
   }
</style>
  